.navig{
    display: flex;
   justify-content:space-between;
   width: 900px;
   
}
.weather{
    margin: 3px;
    border: none;
    color: rgb(137, 16, 125);
    background-color: rgb(128, 148, 215);
    font-weight:900;
    font-size: large;
}
.search {
    outline: none;
    
    
    
    width: 25vw;
    border-radius: 17px;
    
    font-weight:700;
    font-size: 20px;
  }
.search {
    display: flex;
    
      }

      .search-container{
        background: rgb(246, 244, 244);
        color:black;
        height: 40px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
      }
      
      .search-container:hover > .search-input{
        width: 400px;
        color: black;
      }
      
      .search-container .search-input{
        background: transparent;
        border: none;
        outline:none;
        width: 0px;
        font-weight: 800;
        font-size: 18px;
        transition: 0.8s;
        color: black;
      
      }
      
      .search-container .search-btn .fas{
        color: rgb(22, 23, 23);
      }
      @keyframes hoverShake {
        0% {transform: skew(0deg,0deg);}
        25% {transform: skew(5deg, 5deg);}
        75% {transform: skew(-5deg, -5deg);}
        100% {transform: skew(0deg,0deg);}
        }
        
        .search-container:hover{
        animation: hoverShake 0.15s linear 3;
        }      